@import url('https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --Primary-Red-400: hsl(355, 100%, 74%);
    --Primary-Blue-900: hsl(208, 49%, 24%);

    --Neutral-White: hsl(0, 100%, 100%);
    --Neutral-Gray-600: hsl(207, 13%, 34%);
    --Neutral-Gray-900: hsl(240, 10%, 16%);

    /* GRADIENT */
    --mobile-nav: linear-gradient(49deg, hsl(13, 100%, 72%), hsl(353, 100%, 62%));
    --body: linear-gradient(hsl(237, 17%, 21%), hsl(237, 23%, 31%));
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.container {
    max-width: 1100px;
    margin: auto;
}

.btn {
    padding: 10px 30px;
    border-radius: 20px;
    cursor: pointer;
    max-width: fit-content;
    border: none;
    transition: .4s;
}

.btn:hover {
    transform: translateY(-5px);
}

section {
    min-height: 100vh;
    padding: 4rem 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Overpass", sans-serif;
}

p{
    font-family: "Ubuntu", sans-serif;
}

/* START HEADER */
#header {
    background: var(--mobile-nav);
    min-height: 100vh;
    border-bottom-left-radius: 100px;
    position: relative;
    overflow: hidden;
}

#header::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-image: url("images/bg-pattern-intro-desktop.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 80% 0%;
    opacity: 0;
    transform: translateX(200px);
    animation: left-right 1.2s ease-in-out forwards;
}

@keyframes left-right {
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}



#header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 100px;
    position: relative;
    z-index: 1;
}

#header .left-nav {
    display: flex;
    align-items: center;
    flex: 1;
}

#header .left-nav .logo {
    margin-right: 20px;
}

#header .left-nav .ul-nav {
    display: flex;
}

#header .left-nav .ul-nav li a {
    color: var(--Neutral-White);
    margin-left: 10px;
    margin-right: 10px;
}

#header .left-nav .ul-nav li a::after {
    content: url(images/icon-arrow-light.svg);
    margin-left: 5px;
    cursor: pointer;
}

#header nav .buttons button:first-child {
    background-color: transparent;
    color: #fff;
    border: 1px solid #fff;
}

#header .content-home {
    height: calc(100vh - 100px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    z-index: 1;
}


#header .content-home h1 {
    font-size: 60px;
    font-size: 700;
    color: var(--Neutral-White);
}

#header .content-home p {
    margin: 2rem 0;
    color: var(--Neutral-White);
    letter-spacing: 1.3px;
}

#header .content-home .btns button:first-child {
    background-color: #fff;
    color: var(--Primary-Red-400);
}


#header .content-home .btns button:last-child {
    background-color: transparent;
    color: #ffff;
    border: 1px solid #ffff;
}

/* END HEADER */


/* START ABOUT */
#about {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    overflow: hidden;
}

#about h2,
#about h3 {
    color: var(--Primary-Blue-900);
}

#about p {
    color: var(--Neutral-Gray-600);
    margin-top: 1.5rem;
    letter-spacing: 1.1px;
    line-height: 1.3;
}

#about .container {}

#about .container h2 {
    font-size: 45px;
    margin-bottom: 4rem;
    text-align: center;
}

#about .container .row {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 2rem;

}

#about .container .row .col {}

#about .container .row .col .info {
    margin: 3rem 0;
}

#about .container .row .col .info h3 {}

#about .container .row .col .info p {}

#about .container .row .col:last-child {
    position: absolute;
    right: -160px;
}

#about .container .row .col img {
    width: 700px;
}

/* END ABOUT */



/* ====================== */
/* ANIMATION */
/* ====================== */

.fade-In {
    animation: Fade-In 1.2s ease-in-out forwards;
}

@keyframes Fade-In {
    from {
        opacity: 0;
        transform: translateY(150px);
    }

    to {
        opacity: 1;
        transform: translateY(0px);
    }
}